In [85]:
import pandas as pd
import seaborn as sns

In [86]:
df_hpi = pd.read_csv("/Users/maryam/Downloads/DP_LIVE_25042019163055958.csv");

In [87]:
df_hpi.head()

  LOCATION  INDICATOR  SUBJECT  MEASURE FREQUENCY  TIME      Value  Flag Codes
0      AUS  HOUSECOST  NOMINAL  IDX2015         A  1980   8.434627         NaN
1      AUS  HOUSECOST  NOMINAL  IDX2015         A  1981   9.707768         NaN
2      AUS  HOUSECOST  NOMINAL  IDX2015         A  1982  10.055090         NaN
3      AUS  HOUSECOST  NOMINAL  IDX2015         A  1983  10.629698         NaN
4      AUS  HOUSECOST  NOMINAL  IDX2015         A  1984  11.853936         NaN

In [90]:
df_hpi.nunique()

LOCATION        46
INDICATOR        1
SUBJECT          1
MEASURE          1
FREQUENCY        1
TIME            39
Value         1160
Flag Codes       0
dtype: int64

In [92]:
##making a subset DF using select row values (for countries) 
df_hpi_select = df_hpi[(df_hpi.LOCATION == 'AUS')|(df_hpi.LOCATION == 'CAN') |(df_hpi.LOCATION == 'GBR')|(df_hpi.LOCATION == 'USA')]

In [93]:
df_hpi_select.LOCATION.unique()

array(['AUS', 'CAN', 'GBR', 'USA'], dtype=object)

In [94]:
## changing the value of the base year. one step is missing here. i first checked for the value of the year i want to be the base year. 
df_hpi_select.loc[df_hpi_select['LOCATION'] == 'AUS', 'Value'] = df_hpi_select.Value/8.434627 * 100

/Users/maryam/anaconda3/lib/python3.6/site-packages/pandas/core/indexing.py:517: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  self.obj[item] = s

In [95]:
##missed step from last time. checking value for the year we want to use as the base year (1980) 
df_hpi_select.loc[(df_hpi_select['LOCATION'] == 'CAN') & (df_hpi_select['TIME'] == 1980)]

,LOCATION,INDICATOR,SUBJECT,MEASURE,FREQUENCY,TIME,Value,Flag Codes
94,CAN,HOUSECOST,NOMINAL,IDX2015,A,1980,16.410781,NaN

In [96]:
df_hpi_select.loc[df_hpi_select['LOCATION'] == 'CAN', 'Value'] = df_hpi_select.Value/16.410781 * 100

/Users/maryam/anaconda3/lib/python3.6/site-packages/pandas/core/indexing.py:517: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  self.obj[item] = s

In [97]:
df_hpi_select.loc[(df_hpi_select['LOCATION'] == 'GBR') & (df_hpi_select['TIME'] == 1980)]

,LOCATION,INDICATOR,SUBJECT,MEASURE,FREQUENCY,TIME,Value,Flag Codes
800,GBR,HOUSECOST,NOMINAL,IDX2015,A,1980,10.274444,NaN

In [98]:
df_hpi_select.loc[df_hpi_select['LOCATION'] == 'GBR', 'Value'] = df_hpi_select.Value/10.274444 * 100

/Users/maryam/anaconda3/lib/python3.6/site-packages/pandas/core/indexing.py:517: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  self.obj[item] = s

In [99]:
df_hpi_select.loc[(df_hpi_select['LOCATION'] == 'USA') & (df_hpi_select['TIME'] == 1980)]

,LOCATION,INDICATOR,SUBJECT,MEASURE,FREQUENCY,TIME,Value,Flag Codes
838,USA,HOUSECOST,NOMINAL,IDX2015,A,1980,27.33548,NaN

In [100]:
df_hpi_select.loc[df_hpi_select['LOCATION'] == 'USA', 'Value'] = df_hpi_select.Value/27.33548 * 100

/Users/maryam/anaconda3/lib/python3.6/site-packages/pandas/core/indexing.py:517: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  self.obj[item] = s

In [101]:
df_hpi_select.to_csv("/Users/maryam/Downloads/HPI_SELECT.csv")