In [1]:
import pandas as pd
import seaborn as sns

In [2]:
df_hpi_london = pd.read_csv("/Users/maryam/Downloads/ukhpi-property-type-hpi-london-from-1977-06-01-to-2018-06-01 (1).csv")

In [3]:
df_hpi_london.head()

,Name,URI,Region GSS code,Period,Sales volume,Reporting period,House price index All property types,House price index Detached houses,House price index Semi-detached houses,House price index Terraced houses,House price index Flats and maisonettes,Pivotable date
0,London,http://landregistry.data.gov.uk/id/region/london,E12000007,1977-06,NaN,quarterly,3.08,NaN,NaN,NaN,NaN,1977-06-01
1,London,http://landregistry.data.gov.uk/id/region/london,E12000007,1977-07,NaN,quarterly,3.27,NaN,NaN,NaN,NaN,1977-07-01
2,London,http://landregistry.data.gov.uk/id/region/london,E12000007,1977-08,NaN,quarterly,3.27,NaN,NaN,NaN,NaN,1977-08-01
3,London,http://landregistry.data.gov.uk/id/region/london,E12000007,1977-09,NaN,quarterly,3.27,NaN,NaN,NaN,NaN,1977-09-01
4,London,http://landregistry.data.gov.uk/id/region/london,E12000007,1977-10,NaN,quarterly,3.31,NaN,NaN,NaN,NaN,1977-10-01

In [4]:
list_of_columns = ['Name', 'Pivotable date', 'House price index All property types']
df_hpi_london2 = df_hpi_london[list_of_columns]

In [5]:
df_hpi_london2.head()

     Name Pivotable date  House price index All property types
0  London     1977-06-01                                  3.08
1  London     1977-07-01                                  3.27
2  London     1977-08-01                                  3.27
3  London     1977-09-01                                  3.27
4  London     1977-10-01                                  3.31

In [6]:
##rename column
df_hpi_london2.rename(columns={'Name':'Location'}, inplace=True)

/Users/maryam/anaconda3/lib/python3.6/site-packages/pandas/core/frame.py:2746: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  **kwargs)

In [8]:
df_hpi_london2.rename(columns={'Pivotable date':'Date'}, inplace=True)

/Users/maryam/anaconda3/lib/python3.6/site-packages/pandas/core/frame.py:2746: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  **kwargs)

In [9]:
df_hpi_london2.rename(columns={'House price index All property types':'HPI'}, inplace=True)

/Users/maryam/anaconda3/lib/python3.6/site-packages/pandas/core/frame.py:2746: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  **kwargs)

In [10]:
df_hpi_london2.head()

  Location        Date   HPI
0   London  1977-06-01  3.08
1   London  1977-07-01  3.27
2   London  1977-08-01  3.27
3   London  1977-09-01  3.27
4   London  1977-10-01  3.31

In [11]:
##reorder column
df_hpi_london2 = df_hpi_london2[['Date', 'HPI', 'Location']]

In [12]:
df_hpi_london2.head()

         Date   HPI Location
0  1977-06-01  3.08   London
1  1977-07-01  3.27   London
2  1977-08-01  3.27   London
3  1977-09-01  3.27   London
4  1977-10-01  3.31   London

In [13]:
df_hpi_london2.to_csv("/Users/maryam/Documents/HPI_LONDON.csv")